@page "/manage"

<h1>Admin Management</h1>

<hr />

<h2>Elections</h2>

<br />

<h3>All Election</h3>

@if (_elections.Any())
{
    <Table>
        <TableHeader>
            <TableHeaderCell>Id</TableHeaderCell>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Country</TableHeaderCell>
        </TableHeader>
        <TableBody>
            @foreach (var election in _elections)
            {
                <TableRow>
                    <TableRowHeader>@election.Id</TableRowHeader>
                    <TableRowCell>@election.Name</TableRowCell>
                    <TableRowCell>@election.Country</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <Paragraph>Add an election and it will appear here.</Paragraph>
}

<br />

<h3>Create an Election</h3>

<Validations>
    <Validation Validator="ValidationRule.IsAlpha">
        <Field>
            <FieldLabel>Election Name</FieldLabel>
            <TextEdit @bind-Text="_createElection.Name"></TextEdit>
        </Field>
        <Field>
            <FieldLabel>Country</FieldLabel>
            <TextEdit @bind-Text="_createElection.Country"></TextEdit>
        </Field>
    </Validation>
</Validations>
<Button
    Background="Background.Primary"
    Clicked="CreateElection">
    Create
</Button>

<br />
<br />

<h3>Update an Election</h3>

<Validations>
    <Validation Validator="ValidationRule.IsAlpha">
        <Field>
            <FieldLabel>Election Id</FieldLabel>
            <TextEdit @bind-Text="_updateElection.Id"></TextEdit>
        </Field>
        <Field>
            <FieldLabel>New Election Name</FieldLabel>
            <TextEdit @bind-Text="_updateElection.Name"></TextEdit>
        </Field>
        <Field>
            <FieldLabel>New Country</FieldLabel>
            <TextEdit @bind-Text="_updateElection.Country"></TextEdit>
        </Field>
    </Validation>
</Validations>
<Button Background="Background.Primary"
        Clicked="UpdateElection">
    Update
</Button>

<br />
<br />

<h3>Delete an Election</h3>

<Validation Validator="ValidationRule.IsAlpha">
    <Field>
        <FieldLabel>Election Id</FieldLabel>
        <TextEdit @bind-Text="_deleteElectionId"></TextEdit>
    </Field>
</Validation>
<Button
    Background="Background.Danger"
    Clicked="DeleteElection">
    Delete
</Button>

<hr />

<h2>Parties</h2>

<br />

<h3>All Parties</h3>

@if (_parties.Any())
{
    <Table>
        <TableHeader>
            <TableHeaderCell>Id</TableHeaderCell>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Street 1</TableHeaderCell>
            <TableHeaderCell>City</TableHeaderCell>
            <TableHeaderCell>Postal Code</TableHeaderCell>
        </TableHeader>
        <TableBody>
            @foreach (var party in _parties)
            {
                <TableRow>
                    <TableRowHeader>@party.Id</TableRowHeader>
                    <TableRowCell>@party.Name</TableRowCell>
                    <TableRowCell>@party.OperationAddress.Street1</TableRowCell>
                    <TableRowCell>@party.OperationAddress.City</TableRowCell>
                    <TableRowCell>@party.OperationAddress.PostalCode</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <Paragraph>Add a party and it will appear here.</Paragraph>
}

<br />

<h3>Create a Party</h3>

<Validations>
    <Validation Validator="ValidationRule.IsAlpha">
        <Field>
            <FieldLabel>Party Name</FieldLabel>
            <TextEdit @bind-Text="_createParty.Name"></TextEdit>
        </Field>
    </Validation>
    <AddressEntry Address="_createParty.OperationAddress" />
</Validations>
<Button Background="Background.Primary"
        Clicked="CreateParty">
    Create
</Button>

<br />
<br />

<h3>Update a Party</h3>

<Validations>
    <Validation Validator="ValidationRule.IsAlpha">
        <Field>
            <FieldLabel>Party Id</FieldLabel>
            <TextEdit @bind-Text="_createParty.Id"></TextEdit>
        </Field>
        <Field>
            <FieldLabel>New Party Name</FieldLabel>
            <TextEdit @bind-Text="_createParty.Name"></TextEdit>
        </Field>
    </Validation>
    <AddressEntry Address="_createParty.OperationAddress" />
</Validations>
<Button Background="Background.Primary"
        Clicked="UpdateParty">
    Update
</Button>

<br />
<br />

<h3>Delete a Party</h3>

<Validation Validator="ValidationRule.IsAlpha">
    <Field>
        <FieldLabel>Party Id</FieldLabel>
        <TextEdit @bind-Text="_deletePartyId"></TextEdit>
    </Field>
</Validation>
<Button Background="Background.Danger"
        Clicked="DeleteParty">
    Delete
</Button>

<br />
<br />
