@page "/vote"
@using OOPVotingSystem.Models;

<h2>Vote</h2>

<hr/>

<h3>Vote for a party</h3>

@if (UserService.CurrentUser is not null)
{
    @if (UserService.CurrentUser.Person.CanVote())
    {
        @if (_elections.Any())
        {
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Elections
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem>@_elections.First().Name</DropdownItem>
                    @foreach (Election election in _elections.Skip(1))
                    {
                        <DropdownDivider />
                        <DropdownItem
                            Clicked="_ => SetSelectedElection(election.Id)">
                            @election.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
        }

        @if (_election is not null)
        {
            <Paragraph>You selected election: @_election.Name.</Paragraph>
        }

        @if (_parties.Any())
        {
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Parties
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem>@_parties.First().Name</DropdownItem>
                    @foreach (Party party in _parties.Skip(1))
                    {
                        <DropdownDivider />
                        <DropdownItem Clicked="_ => SetSelectedParty(party.Id)">
                            @party.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
        }

        @if (_party is not null)
        {
            <Paragraph>You selected party: @_party.Name.</Paragraph>
        }

        <Button Clicked="CastVote">Cast Vote</Button>

        if (!string.IsNullOrEmpty(_castVoteMessage))
        {
            <Paragraph>@_castVoteMessage</Paragraph>
        }
    }
    else
    {
        <Paragraph>
            It seems that you have either not verified your account or
            have accepted the terms and conditions. Please ensure your
            account is verified and you have accepted the terms and
            conditions to continue.
        </Paragraph>
    }
}
else
{
    <Paragraph>
        You need to be logged in to vote.
    </Paragraph>
}
