@page "/vote"
@using OOPVotingSystem.Models;

<h2>Vote</h2>

<hr/>

<h3>Vote for a party</h3>

@if (UserService.CurrentUser is not null)
{
    @if (UserService.CurrentUser.Person.CanVote())
    {
        @if (_elections.Any())
        {
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Elections
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem
                        Clicked="_ => SetSelectedElection(_elections.First().Id)">
                        @_elections.First().Name
                    </DropdownItem>
                    @foreach (Election election in _elections.Skip(1))
                    {
                        <DropdownDivider />
                        <DropdownItem
                            Clicked="_ => SetSelectedElection(election.Id)">
                            @election.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            @if (_election is not null)
            {
                <br />

                <Paragraph>You selected election: @_election.Name.</Paragraph>
            }
        }
        else
        {
            <Paragraph>
                No elections are currently active.
                Come back another time when there is
                an active election.
            </Paragraph>
        }

        <br />

        @if (_parties.Any())
        {
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Parties
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem
                        Clicked="_ => SetSelectedParty(_parties.First().Id)">
                        @_parties.First().Name
                    </DropdownItem>
                    @foreach (Party party in _parties.Skip(1))
                    {
                        <DropdownDivider />
                        <DropdownItem Clicked="_ => SetSelectedParty(party.Id)">
                            @party.Name
                        </DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            <br />

            @if (_party is not null)
            {
                <Paragraph>You selected party: @_party.Name.</Paragraph>
            }
        }
        else
        {
            <Paragraph>
                There are not parties yet.
                Come back another time once
                they have been added.
            </Paragraph>
        }

        <br />

        <Button
            Clicked="CastVote"
            Color="Color.Primary">
            Cast Vote
        </Button>

        if (!string.IsNullOrEmpty(_castVoteMessage))
        {
            <br />

            <Paragraph>@_castVoteMessage</Paragraph>
        }
    }
    else
    {
        <Paragraph>
            It seems that you have either not verified your account or
            have accepted the terms and conditions. Please ensure your
            account is verified and you have accepted the terms and
            conditions to continue.
        </Paragraph>
    }
}
else
{
    <Paragraph>
        You need to be logged in to vote.
    </Paragraph>
}
